<form method ="POST" action ="/members/<%= @member.id%>">

  <label for = "first_name-field">First Name</label>
  <input type ="text" name ="first_name" id ="first_name-field" value ="<%= @member.first_name%>"/>

  <label for ="second_name-field">Second Name</label>
  <input type ="text" name ="second_name" id ="second_name-field" value ="<%= @member.second_name%>"/>

  <label for = "dob-field">Dob</label>
  <input type ="text" name ="dob" id ="dob-field" value ="<%= @member.dob %>" />

  <label for = "membership_type-field">Membership type</label>
  <input type ="text" name = "membership_type" id ="membership_type-field" value ="<%= @member.membership_type %>" />

  <label for ="join_date-field">Join Date</label>
  <input type ="text" name = "join_date" id ="join_date-field" value ="<%= @member.join_date %>" />

  <input type ="submit" values ="Edit Member" />

</form>
