<h1>Members</h1>


<p>Name: <%=@members.first_name %> <%=@members.second_name %></p>

<p>Member Info: <%=@members.member_info %></p>

<form action ="/member/<%= @members.id %>/edit" method="get">
  <input type ="submit" value ="Edit Members"/>
</form>

<form action ="/members/<%= @members.id %>/delete" method="post">
  <input type ="submit" value ="Delete Member"/>
</form>
